
.tooltip{
    background-color: wheat;
    width: fit-content;
}

/* .tooltip:hover .tooltiptext{
    visibility: visible;
} */

.tooltiptext{
    /* visibility: hidden; */
    background-color: red;
}